.buttonList {
  display: flex;
  padding: 0;
  column-gap: 20px;
}

.button {
  padding: 7px;
  border-radius: 10px;
  border-color: rgb(119, 119, 119);
  border: 10px;
  min-width: 70px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(193, 235, 115, 0.747);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(59, 82, 15);
  color: #fff;
}
